<h3>Properties</h3>
<table class="table table-sm table-hover">
  <tr *ngFor="let prop of equipmentService.selectedPropertis">
    <td>{{prop.parameterName}}</td>
    <td>{{prop.parameterValue}}</td>
    <td>
      <!--<button class="btn btn-primary btn-xs" type="button" (click)="showForEdit(equipment)">Edit</button>-->
      <!--<button class="btn btn-primary btn-xs" type="button" (click)="showComments(equipment.uuid)">Comments</button>-->
      <!--<button class="btn btn-primary btn-xs" type="button" (click)="showProp(equipment.uuid)">Properties</button>-->
      <button class="btn btn-danger btn-xs" (click)="deleteProp(prop.uuid)">Delete</button>
    </td>
  </tr>
</table>
<form role="form">
  <!--<input hidden value="" [(ngModel)]="equipmentService.selectedPropertis[0].equipmentUUID" >-->
  <div class="form-group">
    <label> Name:</label> <input type="text"
                                                   class="form-control"  name="parameterName" [(ngModel)]="property.parameterName"/>
  </div>
  <div class="form-group">
    <label >Value:</label> <input type="text"
                                                   class="form-control"  name="parameterValue" [(ngModel)]="property.parameterValue"/>
  </div>
  <button type="button" class="btn btn-primary" (click)="addProp()">Add Property</button>
</form>

